@import url('../../ui/vars.css');

.footer {
    background: var(--color_black_bg);
    color: var(--color_white_text);
    padding: 45px 0;

    & .footer-wrapper {
        max-width: 960px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

.footer-link {
    color: var(--color_white_text);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}
